/* .category-card {
  background: #fff;
  border-radius: 15px;
  transition: 0.3s;
  cursor: pointer;
}

.category-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.category-card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.card{
  text-align: center;
} */