body {
    background: linear-gradient(to bottom, #cce5ff, #f8f9fa);
}

.login-card {
    max-width: 500px;
    width: 100%;
    border-radius: 12px;
}

.logo {
    width: 150px;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #6c757d;
}

/*register*/
.toggle-confirm {
    position: absolute;
    right: 10px;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #6c757d;
}
